@font-face {
    font-family: 'fengardoneue';
    src:    url('fengardoneue_regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fengardoneue';
    src:    url('fengardoneue_black-webfont.woff');
    font-weight: bold;
    font-style: normal;
}
