:root {
  /* --color-1: #74b9ff;
  --color-1: #e84393;
  --color-1: #6c5ce7;
  --color-1: #00b894;
  --color-1: #fdcb6e;
  --color-1: #006266;
  --color-1: #1B1464; */
  --slate-blue: #6c5ce7ff;
  --mountain-meadow: #00b894ff;
  --rose-bonbon: #e84393ff;
  --maximum-yellow-red: #fdcb6eff;
  --midnight-blue: #1b1464ff;
  --french-sky-blue: #74b9ff;
  --skobeloff: #006266; 
  --white: white;
  --color-whiteish: #eee;
  --color-blackish: #222;
  --gradient-top: linear-gradient(0deg, #6c5ce7ff, #00b894ff, #e84393ff, #fdcb6eff, #1b1464ff);
  --gradient-right: linear-gradient(90deg, #6c5ce7ff, #00b894ff, #e84393ff, #fdcb6eff, #1b1464ff);
  --gradient-bottom: linear-gradient(180deg, #6c5ce7ff, #00b894ff, #e84393ff, #fdcb6eff, #1b1464ff);
  --gradient-left: linear-gradient(270deg, #6c5ce7ff, #00b894ff, #e84393ff, #fdcb6eff, #1b1464ff);
  --gradient-top-right: linear-gradient(45deg, #6c5ce7ff, #00b894ff, #e84393ff, #fdcb6eff, #1b1464ff);
  --gradient-bottom-right: linear-gradient(135deg, #6c5ce7ff, #00b894ff, #e84393ff, #fdcb6eff, #1b1464ff);
  --gradient-top-left: linear-gradient(225deg, #6c5ce7ff, #00b894ff, #e84393ff, #fdcb6eff, #1b1464ff);
  --gradient-bottom-left: linear-gradient(315deg, #6c5ce7ff, #00b894ff, #e84393ff, #fdcb6eff, #1b1464ff);
  --gradient-radial: radial-gradient(#6c5ce7ff, #00b894ff, #e84393ff, #fdcb6eff, #1b1464ff);
  --color-primary: var(--slate-blue);
  --color-primary-light: var(--french-sky-blue);
  --color-primary-dark: var(--midnight-blue);
  --color-secondary-light: var(--maximum-yellow-red);
  --color-secondary-dark:  var(--maximum-yellow-red);
  --color-secondary: var(--maximum-yellow-red);
  --color-tertiary-light: var(--mountain-meadow);
  --color-tertiary: var(--mountain-meadow);
  --color-tertiary-dark: var(--skobeloff);
  --color-background: var(--color-whiteish);
  --color-background-inverted: var(--color-primary-dark);
  --color-text: var(--midnight-blue);
  --color-text-inverted: var(--color-whiteish);
  --color-link: var(--midnight-blue);
  --color-link-inverted: var(--rose-bonbon);
  --gv-highlight-color: var(--color-tertiary);
  --color-highlight: var(--color-tertiary);
  --gv-background-opacity: 0.9;
  --color-link-hover: var(--rose-bonbon);
  --color-link-hover-inverted: var(--maximum-yellow-red);
  --color-active-menuitem: var(--color-blackish);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-primary-dark);
    --color-text: var(--white);
    --color-text-inverted: var(--black);
    --color-link: var(--color-primary-light);
    --color-link-inverted: var(--color-primary-dark);
    
    --gv-highlight-color: var(--color-primary-dark);
    --gv-background-opacity: 0.9;
  }
} */

.darkmode {
    --color-background: var(--color-primary-dark);
    --color-text: var(--color-whiteish);
    --color-text-inverted: var(--color-primary-dark);
    --color-link: var(--color-link-inverted);
    --color-link-inverted: var(--color-primary-light);
    --color-link-hover: var(--maximum-yellow-red);
    --color-active-menuitem: var(--color-whiteish);
    --color-secondary: var(--mountain-meadow);
}




/* 
:root {
  --title-font-family: serif;
  --body-font-family: sans-serif;
  --body-width: 80%;
  --body-background: lightgrey;
  --content-background: white;
  --menu-background: blue;
  --menu-foreground: white;
  }
F7F5F6
91ADEF
E3435F
987F8F
263C6A

F0F3F3
879BB6
F5BA18
B33E54
272534 
*/
